<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.geekmk.mtracker">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key" />

    <activity
      android:label="@string/title_activity_maps"
      android:name=".map.MapsActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:exported="true"
      android:name=".tracker.TrackerService"
      android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
      <intent-filter>
        <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
      </intent-filter>
    </service>

    <receiver
      android:enabled="true"
      android:exported="true"
      android:name=".tracker.TrackerBroadcastReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <activity
      android:label="@string/title_activity_journey_list"
      android:name=".journey.JourneyListActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:label="@string/title_activity_journey_detail"
      android:name=".journeydetail.JourneyDetailActivity"
      android:theme="@style/AppTheme.NoActionBar"></activity>
  </application>

</manifest>